<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos App</title>
</head>
<body>
    <h1>My Tasks' List</h1>
    <table>
        <tr>
            <th>Items</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'task_detail' task.id %}">View</a></td>
            <td><a href="{% url 'create_task' %}">Add</a></td>
        </tr>
        {% empty %}
        <h3>No items in List</h3>
        <a href="">Add New Items</a>
        {% endfor %}
    </table>

</body>
</html>