{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col">
        <center class="h2">ToDo Application - Add New Task</center><br><br>
        <form class="form-inline" method="POST" action="{% url 'add_todo' %}">
            {% csrf_token %}
            <input type="text" name="title" class="form-control mb-2 mr-sm-2" placeholder="Type new task here..."><br>
            <button type="submit" class="btn btn-outline-success mb-2">Submit</button>
        </form>
    </div>
</div>
<br><br>
<div class="row mt-4">
    <div class="col">
        <ul class="list-group">
            {% for todo_item in todo_items %}
                <li class="list-group-item fw-bold">{{ todo_item.title }}
                    <div class="float-end">
                        <form action="{% url 'task_delete' todo_item.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-medium btn-danger rounded-3">Delete</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}