{% extends 'todo_list/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Login Now</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="button" style="font-size: 20px; padding-top: 1px; padding-left: 10px; padding-right: 10px; padding-bottom: 1px;" type="submit">Login</button>
    </form>
    <p style="font-size: 19px;">Don't you have an account ? <a href="{% url 'register' %}" style="font-family: 'Audiowide', sans-serif; color: #EB796F;">Sign Up </a>now.</p>
</div>

{% endblock %}