{% extends 'todo_list/main.html' %}
{% block content %}

    <div class="header-bar">
        <h1>Register Now</h1>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}

            <label>{{form.gmail.label}}</label>
            {{form.gmail}}

            <label>{{form.password1.label}}</label>
            {{form.password1}}

            <label>{{form.password2.label}}</label>
            {{form.password2}}
            <button type="submit" class="button" style="margin-top: 10px;font-size: 20px; padding-top: 1px; padding-left: 10px; padding-right: 10px; padding-bottom: 1px;">Register</button>
        </form>
        <p style="font-size: 19px;">Already have an account? <a href="{% url 'login' %}">Sign in </a>here.</p>
    </div>

{% endblock %}