{% extends 'base.html' %}
{% block title %}Todos App{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="border p-3">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success btn-block" type="submit" value="Submit">
    </form>
    <hr>
    {% for todo in todos %}
    <div class="border p-3 mb-3">
        <small>{{ todo.date | date:"F d, Y H:i" }}</small>
        <div class="row">
            <div class="col-md-8">
                <p>{{ todo.content }}</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-info btn-sm" href="{% url 'update' todo.id %}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'delete' todo.id %}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}