{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

    <div class="container">
      <div class="col-lg-6 shadow mx-auto p-0">
        <div class="alert alert-info">
          <center class="h2">Create Account</center>
        </div>
        <div class="p-5">
          <form method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <hr>
            <input class="btn btn-success" type="submit" value="Create Account">
          </form>
        </div>
      </div>
    </div>

{% endblock %}
